body {
  margin: 0;
}

h1 {
  font-family: 'Dancing Script', cursive;
  font-size: 50px;
  position: fixed;
  white-space: nowrap;
  color:rgba(255,255,255,0.15);
  text-align: center;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -30%);
}

a {
  color: inherit;
  text-decoration: inherit;
}

#videoPlayback {
  position: fixed;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#scLogo img{
  position: fixed;
  width: 60px;
  right: 0;
  top: 0;
  opacity: 0.5;

}

/***
  Media Controls Bottom Bar
***/


#controls {
  position: fixed;
  bottom: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.5);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  color: white;
  width: 100vw;
  height: 275px;

  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr;
  justify-content: center;
  align-items: center;
  padding-bottom: 10px;
}

/***
  Metadata: AlbumArt Artist Track 
***/
#metadataBox {
  grid-row: 1;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 100px 1fr;
  font-size: 16px;
  align-items: center;
  grid-column-gap: 10px;
  padding-left: 5vw;
}

#artwork {
  width: 100px;
  height: auto;
  grid-row: 1 / 3;
  grid-column: 1;
  justify-self: end;
}

#title {
  text-decoration: none;
  color: white;
  font-family: 'Roboto', sans-serif;
  grid-column: 2;
  grid-row: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  align-self: end;
  margin-bottom: -10px;
}

#artist {
  text-decoration: none;
  color: rgba(230, 230, 230, 1);
  font-family: 'Open Sans', sans-serif;
  grid-row: 2;
  grid-column: 2;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/****
  Track Seek: SeekText SeekSlider SeekTextMax
****/
#seekBox {
  color: rgb(230,230,230, 0.95);
  font-family: 'Open Sans', sans-serif;
  grid-row: 2;

  display: flex;
  justify-content: center;
  align-items: center;
}

#seekSlider {
  -webkit-appearance: none;
  appearance: none;
  width: 70%;
  height: 5px;
  background: rgba(230,230,230, 1);
  border-radius: 100px;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

#seekSlider:hover {
  opacity: 0.9;

}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
#seekSlider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  border-radius: 50px;
  width: 15px;
  height: 15px;
  background: white;
  cursor: pointer;
}

#seekSlider::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background: white;
  cursor: pointer;
}

#seekText {
  padding-right: 5px;
  font-size: 14px;
}

#seekTextMax {
  padding-left: 5px;
  font-size: 14px;
}

/****
  Media Buttons:  Prev PlayPause Next Shuffle VolumeSlider VolumeIcon
***/

#mediaButtonsBox {
  grid-row: 3;

  display: flex;
  justify-content: center;
  align-items: center;
}

#mediaButtonsBox button {
  background-color: inherit;
  border: none; /* Remove borders */
  color: white; /* White text */
  font-size: 40px; /* Set a font size */
  cursor: pointer; /* Mouse pointer on hover */
  padding: 10px;
}

#mediaButtonsBox button:active {
  opacity: 0.5;
}

#mediaButtonsBox button:focus {
  outline: none;
}

#mediaButtonsBox #playPause {
  font-size: 60px;
}

#mediaButtonsBox #shuffle {
  font-size: 30px;
}

#volumeControls {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px;
}

#volumeSlider {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 40px;
  height: 5px;
  background: rgba(230,230,230, 1);
  border-radius: 100px;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

#volumeSlider:hover{
  opacity: 0.9;
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
#volumeSlider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 5px;
  height: 10px;
  background: white;
  cursor: pointer;
}

#volumeSlider::-moz-range-thumb {
  width: 10px;
  height: 10px;
  background: white;
  cursor: pointer;
}

#volumeIcon {
  font-size: 20px;
}
